Для решения ИЗ нужно создать одно решение, в котором будут два проекта.
Первый проект - это основной файл программы(ИЗ_КТбо1-6_Миронов_11.2) вместе с заголовочным файлом(Header)
Второй проект - это библиотека с файлами Header.h и Source.cpp. Для того, что библиотека работала нужно в настройках изменить ее с exe на dll.
